<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />   
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnOK").click(function () {
                $.ajax({
                    url: "http://192.168.31.134:8088/api/Adrtx/getall", type:"GET",
                    success: function (result)
                    {
                        $.each(result, function ()
                        {
                            alert(this.Msg);
                        });
                    },
                    error: function () { alert("网络错误")}
                });
                //$.getJSON("http://192.168.31.134:8088/api/Adrtx/Get", function (data) { alert(data.data) });

            });
            $("#btnSave").click(function () {
                $.ajax({
                    url: "http://192.168.31.134:8088/api/Adrtx/post", type: "POST",
                    success: function (result) {
                        alert(result);
                    },
                    error: function () { alert("网络错误") }
                });
            });
            $("#btnSave1").click(function () {
                var data=$("#user").val();
                var obj = { "one": "1", "two": "2", "three": "3"};
                $("#div1").html(data);
                $.each(JSON.parse(data),function (k, v) { alert(v) });
            });
            
            $("#btnAddUser").click(function () {
                $.ajax({
                    url: "http://192.168.31.134:8088/api/Adrtx/AddUser", type: "POST", data: JSON.parse($("#user").val()),
                    success: function (result) {
                        alert(result.Msg);
                    },
                    error: function () { alert("网络错误") }
                });
            });
        });
    </script>
    <title>Index</title>
</head>
<body>
    <div>
        <input type="text" id="txtName" /><input type="button" id="btnOK" value="提交" />
        <input type="hidden" id="user" value="@ViewBag.User" />
        <input type="button" id="btnSave" value="提交" />
        <input type="button" id="btnSave1" value="提交1" />
        <input type="button" id="btnAddUser" value="添加用户" />
        <div id="div1"></div>
    </div>
</body>
</html>
